<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lckiss.weekly">

    <!-- 截图保存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/new_logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".FlashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddRecordActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EntryStatisticsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PieBarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoryEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataExportActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <service
            android:name=".service.AutoUpdateService"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lckiss.weekly.util.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>